@import 'tailwindcss';
.debug {
  outline: 1px solid red;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 1ex;
  /* -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(158, 8, 158, 0.4);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.fadeup-enter-active,
.fadeup-leave-active {
  transition: 0.5s ease;
}

.fadeup-enter-from {
  opacity: 1;
  transform: translateY(300px);
}

.fadeup-leave-to {
  opacity: 0;
  transform: translateY(-300px);
}
